.App {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(11, 250, 238);
  font-size: 1rem;
}

span{
  padding: 10px;
  background-color: aquamarine;
  font-size: 15px;
  line-height: 40px;
}

.navbar{
  text-align: right;
  background-color: gray;
}

.navbar li{
    display: inline-block;
    padding: 10px 5px;
    
}

.nav-bar-link{
  color: black;
  text-decoration: none;
  font-weight: bold;
  background-color: aliceblue;
  padding: 5px;
 
}

.nav-bar-link:hover{
  color:white;
  background-color: black;
  
  transition: .5s;
}

.navbar .active{
  color:red;
}